header {
  background-color: coral;
  padding: 3%;
}

nav {
  font-variant: normal;
  font-family: Arial, "Times New Roman", serif;
  font-size: 300%;
}
.link {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: auto;

}
nav a {

  color: aliceblue;
  text-align: center;
  text-decoration: none;
  
}

footer {
  background-color:darksalmon;
  text-align: center;
  font-size: 130%;
  float: left;
  width: 100%;
}
p {
  display: block
}

.howtogrow {

  float: left;
}
.howtogrow p {
  margin-left:3%;
  float: left;
  width: 12%;

  
}

p::first-letter {
  color: #903;
  font-family: Georgia;
  font-size: 125%;
  text-transform: uppercase;
  font-weight: bold;
}
#frame {
  line-height: 650px;
  width: 575px;
  height: 650px;
  border: 5px solid black;
  margin: 0 auto;
  background-color: #8e68ff;
  background-image: url('');
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
  background-size: 100%;
  margin-bottom: 25px;
  font-size: 150%;
  display: block;
  float: none;
}

.row img {
  width: 150px;
  height: 300px;
  margin-left: 1.5%;
  display: inline;
  text-align: center;
}

.aboutme table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
